# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Open HN Image': 'hermeneumatics:open-image'

'menu': [
  {
    'label': 'Hermeneumatics'
    'submenu': [
      'label': 'Testing'
      'submenu': [
        { 'label': 'Open Image', 'command': 'hermeneumatics:open-image' }
      ]
    ]
  }
]
